*{
    font-family: 'Open Sans', sans-serif;
    margin: 0px;
}

.praimary-color{
    color: #FD6E0A;
}
.secondery-color{
    color: #181818;
}


.header-section{
    
    width: 100%;
    background-color: #FFF8F3;
    background-image:url(images/header_bg.png);
    background-repeat: no-repeat;
    background-position:bottom right;
}


.nav{
    display: flex;
    justify-content: space-between;

}
.nav-title{
    font-size: 45px;
    font-weight: 800px;
    margin-left: 10%;
}

.nav-btn{
    display: flex;
    align-items: center;

}
.nav-btn>li{
    list-style: none;
    margin: 26px;
    border-style: none;
    
}
ul>li>a{
    text-decoration: none;
}


.btn-primary{
    padding: 18px 35px;
    background-color: #FD6E0A;
    border-radius: 5px;
}



/* ------------------banner part design--------------- */

.banner{
    margin-top:0px;
    display: flex;
    align-items: center;
    
    
}

.banner-txt{
    padding: 0px 0px 0px 150px;
  
    
    
    
}

.banner-header{
    color: #474747;
    font-size: 45px;
    font-weight: 600px;
}

.banner-heading{
    font-size: 70px;
    font-weight: 700px;

}
.banner-discription{
    color: #757575;
    font-size: 18px;
    font-weight: 400;
}






/* -------------------banner image---------------- */

.banner-profile{
    padding-left: 22%;
    width: 584px;
    height: 676px;
}
.img{
    margin-bottom: 0px;
}




main{
    max-width: 1140px;
    margin:  130px auto;
    
}

.about{
    max-height:550px;
    background-color: #FFF8F3;
   text-align: center;
   padding: 156px 200px;
   

   
    
}

.about-txt{
    color: #181818;
    font-weight: 700;
    font-size: 35px;
}
.about-info{
    margin: 30px 0px;
    font-size: 18px;
    font-weight: 400;
}
.info{
    display: flex;
}
.info>ul>li{
    list-style: none;
    text-decoration: none;
}
.info-header{
    color: #757575;
    font-size: 20px;
    font-weight: 400px;
}

.info-content{
    font-size: 20px;
    font-weight: 700px;
}




/* --------------------------------i-do section add---------------- */
.i-do-heading{
    font-size: 35px;
    font-weight: 700px;
    text-align: center;
    margin-top: 130px;
}

.i-do-blog{
    font-size: 18px;
    font-weight: 400px;
    color: #757575;
    margin: 50px 130px;
    text-align: center;
}

.skill-section{
    display: flex;
}
.skill{
    width: 267px;
height: 377px;
border-radius: 5px;
background: #FFF;
box-shadow: 0px 6px 50px 0px rgba(0, 0, 0, 0.06);
margin: 30px;
}
.skill-img{
    margin: 30px 30px;
   
}
.skill-heading{
    margin: 0px 30px;
    text-align: center;

}
.skill-blog{
    font-family: Open Sans;
font-size: 16px;
font-style: normal;
font-weight: 400;
margin: 20px 30px;
text-align: center;
}
